@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Great+Vibes&display=swap');
@mixin flexjcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav{
  background-color: white;
  z-index: 1300;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80px;
  h1{
    padding: 10px;
    margin-left: 100px;
  }
  ul{
    margin-right: 100px;
    display: flex;
    a{
      cursor: pointer;
      list-style: none;
      margin: 30px 50px 0 50px;
      color: black;
    }
  }
}
.main{
  margin-top: 80px;
  width: 100vw;
  height: 100vh;
  background: url('../Assets/indexBG.jpg') no-repeat center center;
  background-size: cover;
  overflow-x: hidden;
  @include flexjcc();
  &__title{
    width: 800px;
    flex-wrap: wrap;
    @include flexjcc();
    span{
      font-size: 42px;
      font-family: 'Great Vibes', cursive;
      color: white;
    }
    p{
      font: normal normal normal 80px/1.4em futura-lt-w01-book,futura-lt-w05-book,sans-serif;
      color: white;
    }
  }
}
.story{
  position: relative;
  width: 100vw;
  background-color: #E9FBFC;
  &__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
    p{
      font-size: 36px;
      letter-spacing: 0.05em;
      font: normal normal normal 36px/1.4em Great Vibes,cursive;
      margin-bottom: -20px;
    }
    img{
      transform: rotate(10deg);
    }
  }
  .info{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    &__block{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      margin: 0 100px;
      &--text{
        margin-top:20px;
        text-align: center;
        height: 160px;
        p{
          font:normal normal normal 17px/1.4em futura-lt-w01-light,futura-lt-w05-light,sans-serif;
          letter-spacing: 0.35em;
        }
        span{
          letter-spacing: 0.05em;
        }
      }
    }
  }
}

.changePage-enter{
  opacity: 0;
}
.changePage-enter-active{
  opacity: 1;
  transition: opacity 2000ms;

}
.changePage-enter-done{
  opacity: 1;
}
.changePage-exit{
  opacity: 1;
}
.changePage-exit-active{
  opacity: 0;
  transition: opacity 2000ms;

}
.changePage-exit-done{
  opacity: 0;
}