@mixin flexjcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar{
    background-color: #c9b3b3;
    z-index: 1300;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    h1{
        padding: 10px;
        margin-left: 100px;
    }
    ul{
        margin-right: 100px;
        display: flex;
        li{
            cursor: pointer;
            list-style: none;
            padding: 20px;
        }
    }
}
.Main{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    background-color: #c9b3b3;
    @include flexjcc();
}
.Memories{
    margin-top: 15vh;
    position: relative;
    width: 100%;
    height: 70vh;
    padding-left: 100px;
    @include flexjcc();
    .MemoriesImage{
        margin-right: 30px;
    }
    .textArea{
        width: 30vw;
        height: 360px;
        padding: 20px;
        white-space: wrap;
        p{
            margin-bottom: 20px;
        }

    }
    .textAreaShadow{
        z-index: -1;
        position: absolute;
        width: 50%;
        height: 70vh;
        right: 0;
        background-color: #f7f4f4;
    }
}
.Memories2{
    @extend .Memories;
    padding-left: 0;
    padding-right: 100px;
    .Memories2Image{
        margin-left: 30px;
    }
    .textAreaShadow2{
        @extend .textAreaShadow;
        left: 0;

    }
}
.Form{
    width: 100vw;
    height: 80vh;
    @include flexjcc();
    .inputWrapper{
        width: 230px;
        height: 430px;
        @include flexjcc();
        flex-wrap: wrap;
        input{
            border: none;
            padding-left: 10px;
            background: #d5c5c5;
            margin: 5px;
            height: 35px;
            line-height: 35px;
            opacity: 0.75;
            &:hover{
                background: #c9b3b3;
            }
            &::placeholder{
                color: black;
            }

            &:nth-of-type(1){
                width: 220px;
            }
            &:nth-of-type(2){
                width: 220px;
            }
        }
        select{
            height: 35px;
            width: 220px;
            margin: 5px;
        }
    }
    
}
