@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Great+Vibes&display=swap');
@mixin flexjcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar{
    background-color: white;
    z-index: 1300;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80px;
    h1{
        padding: 10px;
        margin-left: 100px;
    }
    ul{
        margin-right: 100px;
        display: flex;
        li{
            cursor: pointer;
            list-style: none;
            margin: 30px 50px 0 50px;
        }
    }
}
.Main{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    background-color: #c9b3b3;
    @include flexjcc();
    .title{
        width: 800px;
        flex-wrap: wrap;
        @include flexjcc();
        span{
            font-size: 42px;
            font-family: 'Great Vibes', cursive;
            color: white;
        }
        p{
            font: normal normal normal 80px/1.4em futura-lt-w01-book,futura-lt-w05-book,sans-serif;
            color: white;
        }
    }
}
.Memories{
    margin-top: 15vh;
    position: relative;
    width: 100%;
    height: 70vh;
    padding-left: 100px;
    @include flexjcc();
    .MemoriesImage{
        margin-right: 30px;
    }
    .textArea{
        width: 30vw;
        height: 360px;
        padding: 20px;
        white-space: wrap;
        p{
            margin-bottom: 20px;
        }

    }
    .textAreaShadow{
        z-index: -1;
        position: absolute;
        width: 50%;
        height: 70vh;
        right: 0;
        background-color: #f7f4f4;
    }
}
.Memories2{
    @extend .Memories;
    padding-left: 0;
    padding-right: 100px;
    .Memories2Image{
        margin-left: 30px;
    }
    .textAreaShadow2{
        @extend .textAreaShadow;
        left: 0;

    }
}
