.Navbar{
    background-color: #c9b3b3;
    z-index: 1300;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    h1{
        padding: 10px;
        margin-left: 100px;
    }
    ul{
        margin-right: 100px;
        display: flex;
        li{
            cursor: pointer;
            list-style: none;
            padding: 20px;
        }
    }
}
.Main{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    background-color: #c9b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Memories{
    margin-top: 15vh;
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    .MemoriesImage{
        margin-right: 30px;
    }
    .textArea{
        width: 30vw;
        height: 360px;
        padding: 20px;
        white-space: wrap;
        p{
            margin-bottom: 20px;
        }

    }
    .textAreaShadow{
        z-index: -1;
        position: absolute;
        width: 50%;
        height: 80vh;
        right: 0;
        background-color: #f7f4f4;
    }
}
.Memories2{
    margin-top: 15vh;
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    .Memories2Image{
        margin-left: 30px;
    }
    .textArea2{
        width: 30vw;
        height: 360px;
        padding: 20px;
        white-space: wrap;
        p{
            margin-bottom: 20px;
        }

    }
    .textAreaShadow2{
        z-index: -1;
        position: absolute;
        width: 50%;
        height: 80vh;
        left: 0;
        background-color: #f7f4f4;
    }
}
.Form{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .inputWrapper{
        width: 230px;
        height: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        input{
            margin: 5px;
            height: 35px;
            &:nth-of-type(1){
                width: 220px;
            }
            &:nth-of-type(2){
                width: 220px;
            }
        }
        select{
            height: 35px;
            width: 220px;
            margin: 5px;
        }
    }
    
}
