.Navbar {
  background-color: #c9b3b3;
  z-index: 1300;
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 80px;
}

.Navbar h1 {
  padding: 10px;
  margin-left: 100px;
}

.Navbar ul {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Navbar ul li {
  cursor: pointer;
  list-style: none;
  padding: 20px;
}

.Main {
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  background-color: #c9b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Memories, .Memories2 {
  margin-top: 15vh;
  position: relative;
  width: 100%;
  height: 70vh;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Memories .MemoriesImage, .Memories2 .MemoriesImage {
  margin-right: 30px;
}

.Memories .textArea, .Memories2 .textArea {
  width: 30vw;
  height: 360px;
  padding: 20px;
  white-space: wrap;
}

.Memories .textArea p, .Memories2 .textArea p {
  margin-bottom: 20px;
}

.Memories .textAreaShadow, .Memories2 .textAreaShadow, .Memories2 .textAreaShadow2 {
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 70vh;
  right: 0;
  background-color: #f7f4f4;
}

.Memories2 {
  padding-left: 0;
  padding-right: 100px;
}

.Memories2 .Memories2Image {
  margin-left: 30px;
}

.Memories2 .textAreaShadow2 {
  left: 0;
}

.Form {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Form .inputWrapper {
  width: 230px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Form .inputWrapper input {
  border: none;
  padding-left: 10px;
  background: #d5c5c5;
  margin: 5px;
  height: 35px;
  line-height: 35px;
  opacity: 0.75;
}

.Form .inputWrapper input:hover {
  background: #c9b3b3;
}

.Form .inputWrapper input::-webkit-input-placeholder {
  color: black;
}

.Form .inputWrapper input:-ms-input-placeholder {
  color: black;
}

.Form .inputWrapper input::-ms-input-placeholder {
  color: black;
}

.Form .inputWrapper input::placeholder {
  color: black;
}

.Form .inputWrapper input:nth-of-type(1) {
  width: 220px;
}

.Form .inputWrapper input:nth-of-type(2) {
  width: 220px;
}

.Form .inputWrapper select {
  height: 35px;
  width: 220px;
  margin: 5px;
}
/*# sourceMappingURL=Home.css.map */